@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    display: flex;
    flex-direction: column;
    margin: 0px 0px;
}

.section1 {
    padding: 0px 80px 80px 80px;
    background-color: #1F2937;
    font-family: Roboto, sans-serif;
    color: #F9FAF8;
    display: flex;
    flex-direction: column;
    margin: 0px;
}

.header {
    font-size: 24px;
    display: flex;
    justify-content: space-between;
}

.header-links {
    font-size: 18px;
    color: #cdd0d5;
    display: flex;
    justify-content: space-between;
    gap: 18px;
    padding-top: 12px;
}


.header-content {
    display: flex;
    justify-content: space-between;
}

.header-text {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.header-text .hero-text {
    font-size: 48px;
    font-weight: 900px;
    margin: 0px;
}

.header-text .hero-subtext {
    font-size: 18px;
    color: #cdd0d5;
}
.image {
    background-color: #6d747d;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 800px;
    flex-shrink: inherit;
}

.header-content button {
    background-color: #3882F6;
    border-radius: 12px;
    color: #F9FAF8;
    padding: 12px 24px;
    font-weight: bolder;
    border: none;
    width: fit-content;
}

.section2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 12px 132px 48px 132px;
}

.section2-header {
    font-weight: 900;
    font-size: 36px;
    color: #F2937;
    font-family: Roboto, sans-serif;
    margin: 32px;
}

.section2-content {
    display: flex;
    flex-direction: row;
    gap: 48px;
    padding-left: 96px;
    padding-right: 96px;
} 

.section2-image-placeholder {
    aspect-ratio: 1/1;
    padding: 16px 16px;
    flex-shrink: 0;
    border: 3px solid #3882F6;
    border-radius: 12px;
    margin-bottom: 8px;
}

.section2-main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.section2-main p{
    text-align: center;
    justify-content: center;
    align-items: center;
}

.section3 {
    background-color: #e5e7eb;
    padding: 96px 220px 96px 220px;
}

.quote {
    font-size: 36px;
    font-family: Roboto, sans-serif;
    font-style: italic;
    color: #4f5763;
}

.quote-name {
    font-family: Roboto, sans-serif;
    text-align: end;
    font-weight: 800;
}

.section4 {
    background-color: #3882F6;
    margin: 80px 144px 80px 144px;
    border-radius: 8px;
}

.section4-content {
    padding: 24px 112px 40px 112px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.section4-header {
    color: white;
    font-family: Roboto, sans-serif;
    font-weight: 900;
    font-size: 24px;
    margin-bottom: 0;
}

.section4-text p:nth-of-type(2) {
    color: #bacded;
    font-family: Roboto, sans-serif;
    margin-bottom: 0;
    margin-top: 0;
}

.section4-content button {
    background-color: #3882F6;
    border: 2px solid white;
    border-radius: 8px;
    color: white;
    align-self: flex-end;
    height: fit-content;
    padding: 6px 32px;
    font-weight: 600;
    font-size: 16px;
}

.section4-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

