@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    display: flex;
    flex-direction: column;
    margin: 0px 0px;
}

.section1 {
    padding: 0px 80px 80px 80px;
    background-color: #1F2937;
    font-family: Roboto, sans-serif;
    color: #F9FAF8;
    display: flex;
    flex-direction: column;
    margin: 0px;
}

.header {
    font-size: 24px;
    display: flex;
    justify-content: space-between;
}

.header-links {
    font-size: 18px;
    color: #cdd0d5;
    display: flex;
    justify-content: space-between;
    gap: 18px;
    padding-top: 12px;
}


.header-content {
    display: flex;
    justify-content: space-between;
}

.header-text {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.header-text .hero-text {
    font-size: 48px;
    font-weight: 900px;
    margin: 0px;
}

.header-text .hero-subtext {
    font-size: 18px;
    color: #cdd0d5;
}
.image {
    background-color: #6d747d;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 800px;
    flex-shrink: inherit;
}

.header-content button {
    background-color: #3882F6;
    border-radius: 12px;
    color: #F9FAF8;
    padding: 12px 24px;
    font-weight: bolder;
    border: none;
    width: fit-content;
}